<footer class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-4 mb-md-0">
        <a href="{{ site.BaseURL | relLangURL }}">
          {{ partial "images/logo.html" . }}
        </a>
        <ul class="list-inline social-links mb-0">
          {{ range site.Menus.footer }}
          <li class="list-inline-item"><a href="{{ .URL | absURL }}">{{ .Name }} <span class="ps-2">-</span></a></li>
          {{ end }}
        </ul>
      </div>

      {{ with site.Params.subscription}}
      {{ if .enable }}
      <div class="col-md-4">
        <h3 class="fw-normal mb-4 text-capitalize">{{ i18n `subscribe_newslatter` }}</h3>
        <form action="{{ .mailchimp_form_action }}" method="post" name="mailchimp_form_name" target="_blank">
          <div class="input-group border-bottom border-default d-flex align-items-center  pb-2">
            <input class="form-control border-0 ps-0 bg-transparent" placeholder="{{ i18n `your_email` }}" aria-label="Subscription" type="text" name="Subscription" tabindex="-1" required>
              <button type="submit" name="subscription" class="input-group-text bg-transparent border-0"
              aria-label="Subscription Button">
              <svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM0 4.5H21V3.5H0V4.5Z"
                  fill="#1C1C1C" />
              </svg>
            </button>
          </div>
         
        </form>
      </div>
      {{ end }}
      {{ end }}


    </div>
  </div>
</footer>
