{{ define "main" }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<section class="pt-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-8">
        <ul class="post-meta ps-0">
          {{ range .Params.categories }}
          <li>
            <a href="{{`categories` | relURL}}/{{. | urlize | lower}}">{{ . }}</a>
          </li>
          {{ end }}
        </ul>
        <h1 class="post-title text-dark text-capitalize"> {{ .Title }}</h1>
        {{ partial "images/image.html" (dict "Src" .Params.image "Class" "w-100 mb-4" "Size" "x434")}}
        <div class="content">
          {{ .Content }}
        </div>

        <div class="d-sm-flex justify-content-between border-default border-bottom pt-5">
          {{ if isset site.Taxonomies "tags" }}
          {{ if not (eq (len site.Taxonomies.tags) 0) }}
          <ul class="list-inline tags">
            {{ range $name, $items := site.Taxonomies.tags }}
            <li class="list-inline-item mb-2"><a href="{{ .Page.RelPermalink }}"
                {{ if (and (eq $.Page.Kind `term`) (eq $.Page.Type `categories`) (eq $.Page.Title .Page.Title)) }}
                class="active" {{ end }}>#{{ .Page.Title }}</a></li>
            {{ end }}
          </ul>
          {{ end }}
          {{ end }}

          <ul class="list-inline social-links-icon">
            {{ $url := printf "%s" .Permalink | absLangURL }}
            <!-- Sharingbutton Facebook -->
            <li class="list-inline-item text-center">
              <a href="https://facebook.com/sharer/sharer.php?u={{ $url }}"
                target="_blank" rel="noopener" aria-label="">
                <i class="fab fa-facebook"></i>
              </a>
            </li>

            <!-- Sharingbutton Twitter -->
            <li class="list-inline-item text-center">
              <a href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ $url }}" target="_blank"
                rel="noopener" aria-label="">
                <i class="fab fa-twitter"></i>
              </a>
            </li>

            <!-- Sharingbutton instagram -->
            <li class="list-inline-item text-center">
              <a href="https://www.instagram.com/{{ .Site.Params.igName }}}"
                target="_self" rel="noopener" aria-label="">
                <i class="fab fa-instagram"></i>
              </a>
            </li>

            <!-- Sharingbutton pinterest -->
            <li class="list-inline-item text-center">
              <a  href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}"
                target="_blank" rel="noopener" aria-label="">
                <i class="fab fa-pinterest"></i>
              </a>
            </li>

            <!-- Sharingbutton E-mail -->
            <li class="list-inline-item text-center">
              <a href="mailto:?subject={{ .Title }}&amp;body={{ $url }}"
                target="_self" rel="noopener" aria-label="">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>

        </div>

        <div class="d-flex justify-content-between section-md pb-0">
          <div class="col-md-6 col-xl-5">
            {{ with .NextInSection }}
            <a class="prev-arrow text-dark small link-reverse d-flex align-items-center justify-content-end flex-row-reverse"
              href="{{ .RelPermalink }}"> <span class="ms-3">{{ i18n `prev_post` }}</span> <i
                class="fas fa-arrow-left"></i></span></a>

            <div class="row g-4 align-items-center">
              <div class="col-md-4 col-xl-5">
                {{ partial "images/image.html" (dict "Src" .Params.image "Size" "126x85" "Class" "")}}
              </div>
              <div class="col-md-8 col-xl-7">
                <div class="card-body p-0">
                  <ul class="post-meta ps-0 mb-2">
                    {{ range .Params.categories }}
                    <li>
                      <a href="{{`categories` | relURL}}/{{. | urlize | lower}}">{{ . }}</a>
                    </li>
                    {{ end }}
                  </ul>
                  <h3 class="post-title"><a href="{{ .RelPermalink }}" class="text-dark fs-6 text-capitalize">
                      {{ .Title | truncate 40  }}</a></h3>
                </div>
              </div>
            </div>
            {{ end }}
          </div>

          <div class="col-md-6 col-xl-5 text-end">
            {{ with .PrevInSection }}
            <a class="next-arrow text-dark small d-flex align-items-center justify-content-end"
              href="{{ .RelPermalink }}"><span class="me-3">{{  i18n `next_post` }}</span> <i
                class="fas fa-arrow-right"></i></a>
            <div class="row g-4 align-items-center">
              <div class="col-md-8 col-xl-7 order-2 order-md-1">
                <div class="card-body p-0">
                  <ul class="post-meta ps-0 mb-2">
                    {{ range .Params.categories }}
                    <li>
                      <a href="{{`categories` | relURL}}/{{. | urlize | lower}}">{{ . }}</a>
                    </li>
                    {{ end }}
                  </ul>
                  <h3 class="post-title"><a href="{{ .RelPermalink }}" class="text-dark fs-6 text-capitalize">
                      {{ .Title | truncate 40 }}</a></h3>
                </div>
              </div>
              <div class="col-md-4 col-xl-5 order-1">
                {{ partial "images/image.html" (dict "Src" .Params.image "Size" "126x85" "Class" "")}}
              </div>
            </div>
            {{ end }}
          </div>
        </div>



        <!-- comments -->
        {{ if site.Config.Services.Disqus.Shortname }}
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}

      </div>

      <div class="col-lg-4">
        <!-- widget -->
        {{ $widget:= site.Params.widgets.sidebar }}
        {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
      </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}
<section class="section-md pb-0">
  <div class="container">
    <div class="row">
      {{ partial "components/page-header.html" . }}
      <div class="col-lg-10 mx-auto">
        {{ if .Params.image}}
        {{ partial "images/image.html" (dict "Src" .Params.image "Class" "mb-5")}}
        {{ end }}
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->

{{ end }}
